.main {
    width: 770px;
    height: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -700px;
    margin-left: -385px;
}

.main .img{
    height: 125px;
    width: 100%;
    float: left;
    overflow: hidden;
}

.main .list{
    width: 100%;
    min-height: 1275px;
    _height: 1275px;
    background-color: white;
    float: left;
    margin-top: 20px;
    border: 1px solid #E8E8E8;
}

.main .list .list_top{
    width: 100%;
    height: 160px;
    line-height: 80px;
    font-size: 25px;
    background-color: #cccccc;
    color: white;
    font-family: "微软雅黑";
    border-bottom: 5px solid #548235;
    letter-spacing: 1px;
    float: left;
}

.main .list .list_top ul{
    margin: 0 auto;
}
.main .list .list_top li{
    list-style-type: none;
    float: left;
    text-align: center;
}

.main .list .list_top li span{
    color: #548235;
    font-weight: bold;
}

.main .list .list_top li a {
    padding: .1em 1.7em;
    border-right: .1em solid #548235;
    color: white;
}

.main .list .list_top li a:link,.main .list .list_top li a:visited
{
    text-decoration: none;
    color: white;
}

.main .list .list_top li a:hover,.main .list .list_top li a:active
{
    text-decoration: none;
    color: #548235;
    font-weight: bold;
}

.main .list .list_median{
    width: 90%;
    min-height: 1000px;
    _height: 1000px;
    float: left;
    border: 1px solid #E8E8E8;
    margin-left: 5%;
    margin-top: 50px;
}


.main .list .left li,.main .list .right li
{
    list-style-type: square;
    padding-left: 10px;
    margin: 20px;
    border-bottom: 1px dotted #CCC;
    font-family: "微软雅黑";
    font-size: 25px;
}

.main .list .left a:link,.main .list .left a:visited
{
    text-decoration: none;
    color: #000;
}

.main .list .right a:link,.main .list .right a:visited
{
    text-decoration: none;
    color: #000;
}
.main .list .left a:hover,.main .list .left a:active
{
    text-decoration: none;
    color: #548235;
}

.main .list .right a:hover,.main .list .right a:active
{
    text-decoration: none;
    color: #548235;
}

.main .list .left span,.main .list .right span{
    float: right;
    padding-right: 8px;
    color: #548235;
    font-size: 25px;
}
