.main{
    width: 1000px;
    height: 2000px;
    background: url("../6.jpg")no-repeat;
    margin-top: 18%;
}


.main .box1{
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    margin-left: -110px;
    margin-top: 20px;
    font-family: "微软雅黑";
    width: 200px;
    height: 75px;
    background-color: #548235;
    text-align: center;
    transition: all 0.3s ease-out;
}

.main .box2{
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    margin-left: -310px;
    margin-top: -55px;
    font-family: "微软雅黑";
    width: 200px;
    height: 75px;
    background-color: #548235;
    text-align: center;
    transition: all 0.3s ease-out;
}

.main .box3{
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    margin-left: -110px;
    margin-top: -130px;
    font-family: "微软雅黑";
    width: 200px;
    height: 75px;
    background-color: #548235;
    text-align: center;
    transition: all 0.3s ease-out;
}

.main .box4{
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    margin-left: 90px;
    margin-top: 95px;
    font-family: "微软雅黑";
    width: 200px;
    height: 75px;
    background-color: #548235;
    text-align: center;
    transition: all 0.3s ease-out;
}

.main .box5{
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    margin-left: -110px;
    margin-top: 170px;
    font-family: "微软雅黑";
    width: 200px;
    height: 75px;
    background-color: #548235;
    text-align: center;
    transition: all 0.3s ease-out;
}


.main .box6{
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    margin-left: -310px;
    margin-top: 245px;
    font-family: "微软雅黑";
    width: 200px;
    height: 75px;
    background-color: #548235;
    text-align: center;
    transition: all 0.3s ease-out;
}

.main .box7{
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    margin-left: 90px;
    margin-top: -205px;
    font-family: "微软雅黑";
    width: 200px;
    height: 75px;
    background-color: #548235;
    text-align: center;
    transition: all 0.3s ease-out;
}

.box li a {
    display: block;
    margin-top: 13px;
    margin-left: 28px;
    width: 150px;
}

.box li a:link, .box li a:visited {
    text-decoration: none;
    color:white;
    font-size: 18px;
}

.box :hover{
    color: white;
    display: block;
    background-color:#2f4d1b;
}
.box1:hover{
      transform:rotate(360deg) scale(1.2);
  }
.box2:hover{
    transform:rotate(360deg) scale(1.2);
}
.box3:hover{
    transform:rotate(360deg) scale(1.2);
}
.box4:hover{
    transform:rotate(360deg) scale(1.2);
}
.box5:hover{
    transform:rotate(360deg) scale(1.2);
}
.box6:hover{
    transform:rotate(360deg) scale(1.2);
}
.box7:hover{
    transform:rotate(360deg) scale(1.2);
}
.body .back{
    width: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -49.5%;
    margin-top: -23.3%;
    height: 60%;
    overflow: hidden;
}
.main .header p {
    background: #333;
    -moz-opacity:.55;
    filter:alpha(opacity=55);
    opacity:.55;
    color: #ffffff;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 102%;
    margin-left: -50%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-family: "微软雅黑";
    border-bottom: 4px solid #548235;
    border-top: 4px solid #548235;
}
